flask==3.0.3
flask-cors==4.0.1
python-dotenv==1.0.1
requests==2.32.3
SpeechRecognition==3.10.4
gTTS==2.5.1
pydub==0.25.1
elevenlabs==1.57.0
httpcore>=0.15.0
httpx==0.23.0
deep-translator==1.11.4
joblib==1.4.2
numpy==2.2.5
scikit-learn==1.6.1
